body {
    font-family:serif;
    margin: 20px;
    padding: 0;
    background-color:white;
}

h1{
    text-align:calc(10 0 10);
    color:#2c3a50;
    
}

form{
    max-width: 500px;
    
    background-color: rgb(249, 237, 222);
    border-radius: 1px;
    box-shadow: 0 4px 8px rgba(19, 18, 18, 0.5);
    padding:15px;
    margin-bottom: 50px;
    margin-left: auto;
    
}

fieldset{
    border:2px solid #17849d;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    background-color:aliceblue;
}

legend{
    font-weight: bold;
    text-align:center;
    color:black
}


button{
    display: block;
    width: 200px;
    padding: 4px;
    background-color:#17849d;
    border-radius: 5px;
    color:white;
}

button:hover{
    background-color:#0c515e;
}

.resume-container{
    display:flex;
    background-color: rgb(157, 228, 236);
    width: 80%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

}

.left-section{
    background-color: rgb(5, 66, 74);
    color:white;
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: #17849d;

}

.profile-picture{
    width: 200px;
    height: 200px;
    margin-top: 10px;
    border-radius: 50%;
    border:5px solid #17849d;
    margin-bottom: 20px;
}

h3 {
    display:block;
    font-size: 18px;
    padding:2%;
    margin: 20px 0 10px;
    color:white;
    border-radius: 10px;
    box-shadow: #12151a;
    margin-top: 5%;
    margin-bottom: 5%;
}

.right-section{
    padding: 20px;


}